.texto-header {
    text-align: center;
    color:red;
    }
    .contenedor{
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 10px;
    background-color: white;
    border: 1px solid black;
    }
    .fondo{
    background-image:url(https://static.vecteezy.com/system/resources/thumbnails/009/831/146/small/banner-web-template-abstract-blue-and-golden-wave-curved-lines-overlapping-layer-design-on-dark-blue-background-luxury-style-vector.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    }